<div *ngIf='lists.length === 0'>
    <h1>Welcome Aboard!</h1>
    <h3>Click '+' button to add your first list</h3>
    <div>
        <fa-icon class="add-icon" [icon]="faPlusCircle" (click)='addList()'></fa-icon>
    </div>
</div>
<div *ngIf='lists.length !== 0' class="p-0">
    <table datatable class="row-border hover ">
        <thead>
            <tr>
                <th>Status</th>
                <th>List name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let list of lists'>
                <td>
                    <input type="checkbox">
                </td>
                <td>{{list}}</td>
                <td>
            <tr>
                <td>
                    <edit-button></edit-button>
                </td>
                <td>
                    <delete-button></delete-button>
                </td>
            </tr>
            </td>
            </tr>
        </tbody>
    </table>
</div>